*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 1.25rem;
}

h1 {
	font-weight: 300;
	margin-bottom: 0.25rem;
}

a{
	text-decoration: none;
}

.main-header {
	background-color: black;
	height: 4rem;
	padding: .65rem;
/*	position: fixed;
*/	width: 100%;
	margin-bottom: 3rem;
	display: flex;
	justify-content: flex-start;
	align-content: flex-end;
}

.main-header nav {
	align-self: flex-end;
	margin-left: 3rem;
	margin-bottom: .25rem;
}

.main-header a {
	color: #ffff;
}

.main-header a:hover {
	color: #31b400;
}

.main-header a {
	width: 10rem;
}

.main-header img {
	margin-left: 1rem;
	width: 10rem;
}

.main-section {
	background-color: #0000007a;
    width: 100%;
    height: 100vh;
    position: fixed;
    color: #ffff;
}

.main-section h2 {
	font-size: 1.65rem;
	margin-top: -.25rem;
	letter-spacing: .45rem;
}

.main-logo {
	margin-top: 10rem;
	max-width: 30rem;
}
.flex-column-form {
    display: flex;
	flex-direction: column;
	margin: 0 auto 0rem;
	width: 30rem;
}

.flex-column-form label {
	font-weight: 300;
	font-size: 1rem;
	text-align: left;
	margin: .5rem auto .15rem 0;
}

.flex-column-form input {
	width: 100%;
	margin: 0 auto 1rem auto;
}

.flex-column-log {
    display: flex;
	flex-direction: column;
	text-align: center;
}
.green-button {
	background-color: #1d9000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border: none;
	padding: .5rem 1.5rem;
	border-radius: 3px;
	cursor:pointer;
	color:#ffffff;
}

.green-button:hover {
	background-color: #000;
	transform: translateY(-0.15rem);
	transition: 0.45s;
}
.registerCoworkerBtn {
	margin-right: 1rem;
}
.registerCoworkerBtn, .cancelRegistryBtn {
	width: 12rem;
	display: inline-block;
	margin-bottom: 5rem ;
}
.cancelRegistryBtn:hover {
	background-color: red !important;
}

.registerBtn {
	margin-bottom: 5rem;
}
.openCameraBtn {
	border-radius: 5rem;
	background-color: #000;
}

.openCameraBtn:hover {
	background-color: #145f01;
}

select {
	-webkit-appearance: none;
	background-color: #ffff;
	background: url('https://claudiagarfias.works/contents/uploads/media/select-arrow.png') no-repeat right #fff;
	border:  1px solid #aaa6a6;;
	font-size: .9rem;
	font-weight: 200;
	padding: .5rem 9rem .5rem .5rem;
	text-align: left;
	margin: 0 auto 1rem 0;
	width: 100%;
	display:block;
	background-color: #9db08733;
}

.selects {
	display: flex;
}

.left-select {
	margin-right: 1rem;
}

.selects label {
	display: block;
}

button {
	width: 15rem;
	margin: 2rem auto 1rem auto;
}

.flex-row {
	display: flex;
	/*! flex-direction: row; */
	align-items: center;
	justify-content: flex-start;
}

.load-img {
	margin: 1rem auto 0 auto;
	max-width: 10rem;
	border-radius: 50%;
	/*! margin: 1rem auto 0 auto; */
}

.load-photo-div > * {
	display: block;
	margin: auto;
}

.flex-row button {
	max-width: 6rem;
	margin: 1rem auto 0 1rem;
}

.takePhotoBtn {
	background:url(https://claudiagarfias.works/contents/uploads/media/cameraicon.png) no-repeat;
	cursor: pointer;
    border: none;
    width: 65px !important;
    height: 65px;
    margin: 1.25rem auto;
    position: absolute;
    left: 48%;
}

.openCameraBtn {
	width:6rem !important;
	margin-top: 0.5rem !important;
}

.background-vid {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	right: 0;
	bottom: 0
}

.flex-row-main-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	color: #ffff;
	padding: 0 20%;
}

input {
	background-color: #f9f9f9;
	border-right: 1px solid #aaa6a6;
	border-bottom: 1px solid #aaa6a6;
	border-left: 1px solid #aaa6a6;
	border-top: 2px solid #33e307; 
	height: 3rem;
}
.main-screen-btn {
	border-radius: .35rem;
	font-size: .9rem;
	background-color: #000000b3;
	color: #ffff;
	padding: 1rem .5rem;
	border: 1px solid #ffff;
	cursor: pointer;
	right: 10%;
	margin: 2rem;
}

.main-screen-btn:hover {
	background-color: #49f50966;
}


.visitor-div-container {
display: inline-block;

}

.todayVisitorsDivDOM {
	margin: 1.25rem;
}

.todayVisitorsDivDOM img{
	max-width: 8rem;
	border-radius: 50%;
}

.todayVisitorsDivDOM button {
	margin-top: 0.25rem;
}


table {
	margin: .5rem auto 0 auto;
}
tbody {
	display: flex;
		align-items: center;
	justify-content: flex-start;
}
.visitor-table td {
	padding: .2em .8em;
	height: 1.75rem;
	border-bottom: 1px solid #2c9b03;
	text-align: left;
	display: block;
}

.right-column-vt td {
	border-left: 1px solid #2c9b03;
}

.left-column-vt {
	font-weight: 600;
}

@media only screen and (max-width: 1200px) {
	.flex-row-main-screen  {
		display: block;
		padding: 1rem;
		text-align: left;
		margin: .25rem auto .25rem auto;
	}

	.flex-row-main-screen {
		position: relative;
		display: block;
	}

	.flex-row-main-screen button  {
		display: block;
		margin: 1.5rem auto;
	}

	.main-logo {
		margin-top: 3rem;
		width: 90%;
	}

	.main-screen-btn {
		max-width: 80%;
	}

	.flex-column-form {
		width: auto;
	}

}

@media only screen and (max-width: 900px) {
	.main-section {
		  background: url('https://claudiagarfias.works/contents/uploads/media/architectural-design-architecture-buildings-936722.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}
}

@media only screen and (max-width: 500px) {
	.flex-column-form {
	margin: 2rem;
	}

	.selects {
		display: block;
	}

	.left-select {
		margin:auto;
	}

	.background-vid {
		display: none;
	}
}