.flex-column-form {
    display: flex;
	flex-direction: column;
}

.flex-column-form label {
	text-align: left;
}
.flex-column-form img {
	margin: auto;
}

.flex-column-log {
    display: flex;
	flex-direction: column;
	margin: 2% 30%;
	text-align: center;
}

.load-img {
	max-width: 10rem;
}